[global]
server_name = "${DOMAIN}"
address = "0.0.0.0"
port = 6167

allow_federation = false
allow_registration = true
registration_token = "${CONDUIT_REGISTRATION_TOKEN}"

database_backend = "rocksdb"
database_path = "/data"

turn_uris = [
  "turn:matrix.${DOMAIN}:3478?transport=udp",
  "turn:matrix.${DOMAIN}:3478?transport=tcp"
]
turn_secret = "${TURN_SECRET}"
turn_ttl = 86400

[global.media]
backend = "filesystem"
path = "/data/media"

[[global.media.retention]]
space = "18G"